body {
    overflow-x: hidden;
    font-family: 
}

.font-1 {
    font-size: 1rem;
}

.font-2 {
    font-size: 1.25rem;
}

.font-3 {
    font-size: 1.50rem;
}

.font-4 {
    font-size: 1.75rem;
}

.font-2 {
    font-size: 2rem;
}


#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 1.5rem 1.55rem;
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 500;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}